@import 'styles/variaveis';
@import 'styles/breakpoints';


.recomendados {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap; 
  gap: 30px;
  justify-content: space-between;

  @media (max-width: $desktop_xsm) {
    justify-content: center; 
  }
}

.recomendado {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__imagem {
    width: 300px;
    height: 240px;
    margin-bottom: 10px;

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__texto {
    font-size: 1.2rem;
    color: $dark-grey;
    text-align: center;
    margin-top: 10px;
  }

  &__botao {
    background-color: $red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    transition: .2s ease;
    width: 100%;
    
    &:hover {
      background-color: $dark;
    }
  }
}